body {
    font-family: Arial, sans-serif;
    background-image: url("https://media.gettyimages.com/id/1181316998/photo/fresh-bread-on-wooden-table-top-view-with-space-for-your-text.jpg?s=612x612&w=0&k=20&c=oUMaot58-pQskcrjNtNKqkjdz2RSZVlZY32LFS0GJ1o=");
    color: black;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
  }

  h1 {
    font-size: 20px;
    color: black;
    position: relative;
    bottom: -140px;
    right: -950px;
  }

  h2 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    position: relative;
    bottom: -100px;
    right: -900px;
  }
